include ../text/text

-
	DropDown={
		withLabel:false,
		withSublabel:false,
		withType: false,
		withForm:false,
		withName:false,
		withId:false,
		withValue:false,
		withPlaceholder:false,
		counter:false
	}

mixin dropdown(DropDown)

	.dropdown(oninput='guests.value=parseInt(people.value)+parseInt(kinds.value)' id=DropDown.withId)
		if DropDown.withLabel
			label.dropdown__label(for=DropDown.withId)
				+text({ withTag: 'h3', withContent: DropDown.withLabel })
				if DropDown.withSublabel
					+text({ withTag: 'h3', withContent: DropDown.withSublabel, withWeight: 'normal', withColor: 'dark-shade-50' })
		.dropdown__input
			input(
				value=DropDown.withValue
				type='hidden'
				placeholder=DropDown.withPlaceholder
				name=DropDown.withName
				id=DropDown.withId
				form=DropDown.withForm
			)
			+text({ withTag: 'span', withContent: DropDown.withPlaceholder, withWeight: 'normal', withColor: 'dark-shade-50' })
			.dropdown__button_arrow= 'expand_more'
		if DropDown.counter
			+counter({ type: 'number', readonly: true, name: 'big', label: 'взрослые', id: 'people', form: 'guest', value: 3, min: 0, max: 10, })
			+counter({ type: 'number', readonly: true, name: 'smal', label: 'дети', id: 'kinds', form: 'guests-form', value: 4, min: 0, max: 10, })
