include ../text/text

mixin dropdown(args = {withLabel:false, withSublabel:false, withType: null, withForm:null, withName:null, withId:null, withValue:null, withPlaceholder:null})
	-
		var args = args
		var inputClass = 'dropdown__input'

	.dropdown
		if args.withLabel
		label.dropdown_with-label(for=args.withId)
			.dropdown__label-wrapper
				+text({withTag: 'h3', withContent: args.withLabel})
				if args.withSublabel
					+text({withTag: 'h3', withContent: args.withSublabel, withWeight: 'normal', withColor: 'dark-shade-50'})
		.dropdown__input-wrapper
			input(
				value=args.withValue
				type="hidden"
				placeholder=args.withPlaceholder
				name=args.withName
				id=args.withId
				form=args.withForm
				class=inputClass
			)
			span Сколько гостей
			.dropdown__input
				.dropdown__button_arrow= 'expand_more'
