include ../text/text

mixin dropdown(id=false, label=false, sublabel=false, placeholder=false, name=false, form=false, value=false, counters=false)
  section.js-dropdown(form=form)
    if label
      label.js-dropdown__label(for=id)
        +text({ withTag: 'h3', withContent: label })
        if sublabel
          +text({ withTag: 'h3', withContent: sublabel, withWeight: 'normal', withColor: 'dark-shade-50' })
    input.js-dropdown__input(
      list=id,
      value=value,
      type="text",
      placeholder=`${placeholder}`,
      name=name,
      form=form,
      readonly,
      role="combobox",
      aria-owns="dropitems",
      aria-expanded="false"
    )
    span.js-dropdown__arrow-button= "expand_more"
    if counters
      if block
        datalist#dropitems.js-dropdown__items
          block
