include ../text/text

mixin dropdown(DropDown={withLabel:false, withSublabel:false, withType: null, withForm:null, withName:null, withId:null, withValue:null, withPlaceholder:null})
	form.dropdown(oninput='guests.value=parseInt(people.value)+parseInt(kinds.value)' id=DropDown.withId)
		if DropDown.withLabel
			label.dropdown__label(for=DropDown.withId)
				+text({ withTag: 'h3', withContent: DropDown.withLabel })
				if DropDown.withSublabel
					+text({ withTag: 'h3', withContent: DropDown.withSublabel, withWeight: 'normal', withColor: 'dark-shade-50' })
		.dropdown__input
			input(
				value=DropDown.withValue
				type='hidden'
				placeholder=DropDown.withPlaceholder
				name=DropDown.withName
				id=DropDown.withId
				form=DropDown.withForm
			)
			+text({ withTag: 'span', withContent: DropDown.withPlaceholder, withWeight: 'normal', withColor: 'dark-shade-50' })
			.dropdown__button_arrow= 'expand_more'
		+counter({ type: 'number', readonly: true, name: 'big', label: 'взрослые', id: 'people', form: 'guest', nowvalue: 3, minvalue: 0, maxvalue: 10, })
		+counter({ type: 'number', readonly: true, name: 'smal', label: 'взрослые', id: 'kinds', form: 'guests-form', nowvalue: 4, minvalue: 0, maxvalue: 10, })
