template#btn-template
	button(is="i-button")

mixin btn(dress=false, slot=false, caller=false)
	-
		const className = `js-i-button__${dress}`

	case dress
		when 'arrow'
			i-button(class=`${className}` slot=`${slot}`)="expand_more"