template#btn-template
	button(is="button-icon")

mixin btn(variant=false, dress=false, slot=false, caller=false)
	-
		const className = `js-button-${variant}__${dress}`

	case dress
		when 'arrow'
			button-icon(class=`${className}` slot=`${slot}`)="expand_more"