mixin btn(variant=false, dress=false, slot=false, caller=false, text=false, ...items)
	-
		let className = 'js-button'
	
		if (dress)
			className += ` js-button-${variant}__${dress}`
		if (!dress)
			className += ` js-button-${variant}`


	case variant
		when 'icon'
			case dress
				when 'arrow_color_gray'
					button(is='button-icon', class=`${className}`, slot=`${slot}`, aria-pressed='false')="expand_more"
		when 'text'
			case dress
				when false
					button(is='button-text', class=`${className}`, slot=`${slot}`)=text