mixin text()
  h1(class="text") Hello *(^-^)* World
  h2(class="text") Hello *(^-^)* World
  h3(class="text") Hello *(^-^)* World
  p(class="text")  Hello *(^-^)* World
  strong(class="text") Hello *(^-^)* World
  span(class="text") Hello *(^-^)* World
  small(class="text") Hello *(^-^)* World

  | hellow world

//size:'', title: false, text:''
//  - var textSizeVariants = ["h1", "h2", "h3", "body"]
//    var textClass = 'text'
//
//  if (textSizeVariants.include(options.size)) { textClass += '_size_' + options.size }
//  if (title) {
//    textClass += "_title"
//    }
//
//  case options.size
//    when "h1": #[h1(class=textClass) text]
//    when "h2": #[h2(class=textClass) text]
//    when "h3": #[h3(class=textClass) text]
//    when "body07": #[p(class=textClass) text]
//    when "body05": #[p(class=textClass) text]
//    when "body02": #[p(class=textClass) text]
    
  //if (options.size == "h1") {
  //  #[h1(class=textClass) text]
  //}
  //else if (options.size == "h2") {
  //  #[h2(class=textClass) text]
  //}
  //else if (options.size == "h3") {
  //  #[h3(class=textClass) text]
  //}
  //else if (options.size == "body") {
  //  #[h3(class=textClass) text]
  //}
  //else if (options.size == "h2") {
  //  p.textClass text
  //}
