include ../../components/text/text

mixin counter(name='', label='', id='', form='', value=0, min=0, max=0, slot='', role='')

  guests-counter.js-counter(
    name=name
    id=id
    title=''
    value=value
    slot=slot
    role=role
    )
    label.js-counter__label(for=id)
      +text({
        withTag: 'h3',
        withContent: `${ label }`
      })
    .js-counter__input(
      name=name
      id=id
      )
      button.js-counter__decrement-button(
        name=name
        id=id
        readonly: true
        disabled
        ) -
      input.js-counter__input_hidden(
        name=name
        toggled=true
        type='number'
        readonly=true
        id=id
        form=form
        value=value
        min=min
        max=max
      )
      button.js-counter__increment-button(
        name=name
        id=id
        readonly: true
        ) +
