include ../../components/text/text

mixin counter(name='', label='', id='', form='', value=0, min=0, max=0, ...items)

  guests-counter.js-counter(id=id title='' value=value)
    label.js-counter__label(for=id)
      +text({
        withTag: 'h3',
        withContent: `${ label }`
      })
    .js-counter__input(id=id)
      span.js-counter__decrement-button(
        id=id
        readonly: true
        disabled
        ) -
      input.js-counter__input_hidden(
        toggled=true
        type='number'
        readonly=true
        name=name
        id=id
        form=form
        value=value
        min=min
        max=max
      )
      span.js-counter__increment-button(
        id=id
        readonly: true
        ) +
