include ../../components/text/text

mixin counter(name='', label='', id='', form='', value=1, min=0, max=0, ...items)

  guests-counter.counter(id=id)
    .counter__field(id=id)
      label.counter__label(for=id)
        +text({
          withTag: 'h3',
          withContent: `${ label }`
        })
      .counter__input(id=id)
        span.counter__decrement-button(
          id=id
          readonly: true
          disabled
          ) -
        input.counter__input_hidden(
          toggled=true
          type='number'
          readonly=true
          name=name
          id=id
          form=form
          value=value
          min=min
          max=max
        )
        span.counter__increment-button(
          id=id
          readonly: true
          ) +
