include ../text/text

mixin text-field(args= {type: null, label:null, sublabel:null,name:null, id:null, value:null, placeholder:null, pattern:null, focused: false})
	-
		var args = args
		var inputClass = "text-field__input"

		if (args.focused !== false) {
			inputClass += ` text-field__input_focused`
		}
	.text-field
		label(for=args.id, class="text-field__label")
			.text-field__label-wrapper
				+text({
          withTag: "h3",
          withContent: args.label
        })
				+text({
          withTag: "h3",
          withContent: args.sublabel,
          withWeight: "normal",
          withColor: "dark-shade-50"
        })
		input(class=inputClass, type=args.type, name=args.name, id=args.id, value=args.value, placeholder=args.placeholder)
