include ../text/text

mixin text-field(args= {withType: null, withLabel:false, withSublabel:false, withName:null, withId:null, withValue:null, withPlaceholder:null, withPattern:null, withFocus: false, withMask: false})
  -
    var args = args
    var className = 'text-field__input'

    if (args.withFocus) {
        className += ` text-field__input_with-focus`

    }
    if (args.withMask) {
        className += ` text-field__input_with-mask`
    }

  .text-field
    if args.withLabel
      label.text-field_with-label(for=args.withId)
        .text-field__label-wrapper
          +text({ withTag: 'h3', withContent: args.withLabel })
          if args.withSublabel
            +text({ withTag: 'h3', withContent: args.withSublabel, withWeight: 'normal', withColor: 'dark-shade-50' })
    input(
      class=className,
      type=args.withType,
      name=args.withName,
      id=args.withId,
      value=args.withValue,
      placeholder=args.withPlaceholder
    )
