include ../text/text

mixin text-field(args= {withType: null, withLabel:false, withSublabel:false, withName:null, withId:null, withValue:null, withPlaceholder:null, withPattern:null, withFocus: false, withMask: false})
	-
		var args = args
		var inputClass = "text-field__input"

		if (args.withFocus) {
			inputClass += ` text-field__input_with-focus`

		}
		if (args.withMask) {
			inputClass += ` text-field__input_with-mask`
		}

	.text-field
		if args.withLabel
			label(for=args.withId, class="text-field_with-label")
				.text-field__label-wrapper
					+text({
            withTag: "h3",
            withContent: args.withLabel
          })
					if args.withSublabel
						+text({
              withTag: "h3",
              withContent: args.withSublabel,
              withWeight: "normal",
              withColor: "dark-shade-50"
            })
		input(class=inputClass, type=args.withType, name=args.withName, id=args.withId, value=args.withValue, placeholder=args.withPlaceholder)
